<h4 class="list-group-item-heading">Welcome <%= @user.name %>!</h4>
<h5 class="list-group-item-heading">Your account number: <%= get_account @user.id %></h5>
<h6 class="list-group-item-heading">Balance: <%= format_money @account.balance %> <%= format_currency @account.currency %>!</h6>
