<h4 class="list-group-item-heading">Bem vindo <%= @user.name %>!</h4>
<h5 class="list-group-item-heading">Numero da conta: <%= get_account @user.id %></h5>
<h6 class="list-group-item-heading">Seu saldo eh de <%= format_money @account.balance %> <%= format_currency @account.currency %>!</h6>
