<h4 class="list-group-item-heading">Bem vindo <%= @user.name %>!</h4>
<h6 class="list-group-item-heading">Seu saldo eh de <%= format_money @account.balance %> <%= @account.currency %>!</h6>
<a href="/transfers/<%=Integer.to_string(@user.id)%>" class="btn btn-primary pull-right">Ver transferencias</a>
<a href="/transfers/<%=Integer.to_string(@user.id)%>/new" class="btn btn-primary pull-right">Fazer nova transferencia</a>
