/* This file is for your main application css. */
.header .title {
    font-size: 3em;
    text-align: center;
    display: inherit;
}

.header .sub-title{
    font-size: 1.5em;
    text-align: center;
    display: inherit;
    color: gray;
}
.help-block {
    color: red;
}
.input-group{
     width: 100%;
 }
 .input-label{
     width: 45%;
     text-align: left;
 }
 .input-text {
     width: 55%;
 }
 .input_container input.form-control {
  display: inline-block;
  margin: 5px 5px 0 0;
  width: 90%;
 }
